.vs/
ipch/
*.sdf
*.opensdf
Debug/
Release/
sdk/

e00/
Design/Sounds/

obj/
bin/
packages/
.module-cache/
*.cachefile
*.suo
*.spa
*.spa.h
*.userprefs
*.user
*.psess
*.vsp
*.pdb

Steam/ContentBuilder/builder
Steam/ContentBuilder/builder/logs/
Steam/ContentBuilder/builder/appcache/
Steam/ContentBuilder/builder/config/
Steam/ContentBuilder/builder/steamapps/
Steam/ContentBuilder/builder/userdata/
Steam/ContentBuilder/output/

/Design/Marketing/
/Design/Marketing/RTX

node_modules/