@import '../js/lib/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Chunkfive;
    src: url("Chunkfive.otf") format("opentype");
}

p {
    font-family: Chunkfive;
    font-size: 1.4%;
    color:rgba(236,236,236,255)
}

body {
    background-color:rgba(0,0,0,0);
    overflow:hidden;

    user-select: none;
    -webkit-user-select: none;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

input {
    user-select: text;
    -webkit-user-select: text;
}

/* ------
   Button
   ------ */

button.UiButton {
    padding: 0;
    border: none;
    background: none;
    
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: left top;
    
    float:left;
    position:absolute;
    left:0;
}

button.UiButton:hover {
    background-position: left center;
}
button.UiButton:active {
    background-position: left bottom;
}

button { outline: none; }


/* -----
   Image
   ----- */

div.UiImage {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: left top;
    
    float:left;
    position:absolute;
    left:0;
}

image { outline: none; }